
$ui-background-color: #fefefe;

$post-pages-color: #ccc;

$link-active-color: #292929;
$link-color: #ccc;
$link-hover-color: #222;

$header-font-color: #3D1B3A;
$header-font-shadow-color: #fff;

$app-border-top-color: #bbb;
$app-border-bottom-color: #ddd;

$master-border-right-color: #bbb;

$search-font-color: #888;
$search-background-color: #fafafa;
$search-border-color: #ccc;
$search-placeholder-font-color: #9c9c9c;

$toolbar-border-bottom-color: #999;
$toolbar-font-color: #3D1B3A;

$ui-border-top-color: #eee;
$ui-border-bottom-color: #ccc;

$ui-linear-gradient-light-color: #fff;
$ui-linear-gradient-dark-color: #f1f1f1;
$ui-linear-gradient-selected-light-color: #5C7DAB;
$ui-linear-gradient-selected-dark-color: #406281;

$ui-master-list-item-h1-color: #3d1b3a;
$ui-master-list-item-h3-color: #401c3d;
$ui-master-list-item-color: #52244e;

// FIXME : Does not work
$footer-copyright-font-color: #777;
$footer-separator-color: #999;
$footer-icon-box-shadow-color: #222;

$master-list-item-border-top-color: #eee;
$master-list-item-border-bottom-color: #ccc;

$ui-aside-color: #3d1b3a;
$ui-aside-border-color: #999;

$ui-aside-linear-gradient-light-color: #eee;
$ui-aside-linear-gradient-dark-color: #ddd;

$ui-master-background-color: $ui-background-color;

$ui-page-item-selected-linear-gradient-light-color: #401c3d;
$ui-page-item-selected-linear-gradient-dark-color: #3d1b3a;

$ui-page-item-selected-box-shadow-top-color: #ddd;
$ui-page-item-selected-box-shadow-bottom-color: #bbb;

$ui-page-item-selected-box-shadow-selected-top-color: #666;
$ui-page-item-selected-box-shadow-selected-bottom-color: #444;

$ui-load-indicator-wrapper-color: #ccc;


$ui-post-header-background-color: #ddd;
$ui-post-author-color: #444;
$ui-post-date-color: #444;
$ui-post-body-background-color: #f0f0f0;
$ui-post-tag-color: #888;
$ui-post-title-color: #666;
$ui-post-content-color: #222;

$ui-post-body-height: 110px;
$ui-post-content-height: 100px;
$ui-post-image-width: 64px;

$master-width: 320px;
$header-height: 88px;
$footer-height: 44px;
$toolbar-height: 84px;
$toolbar-width: $master-width - 20;
$master-item-height: 60px;

@mixin border-top($color) {
    border-top: 1px solid $color;
}

@mixin border-bottom($color) {
    border-bottom: 1px solid $color;
}

@mixin border-right($color) {
    border-right: 1px solid $color;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
         -o-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin linear-gradient($light, $dark) {
    background: $light;
    background-image: -webkit-gradient(linear, left top, left bottom, from( $light ), to( $dark )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( $light , $dark ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( $light , $dark ); /* FF3.6 */
    background-image:     -ms-linear-gradient( $light , $dark ); /* IE10 */
    background-image:      -o-linear-gradient( $light , $dark ); /* Opera 11.10+ */
    background-image:         linear-gradient( $light , $dark );
}

@mixin background-clip($type) {
    -webkit-background-clip: $type;
       -moz-background-clip: $type;
            background-clip: $type;
}

@mixin text-overflow($type) { // ellipsis
    -webkit-text-overflow: $type;
       -moz-text-overflow: $type;
         -o-text-overflow: $type;
        -ms-text-overflow: $type;
            text-overflow: $type;
              white-space: nowrap;
                 overflow: hidden;
}

@mixin animation($name, $duration, $iteration-count, $timing-function, $scale-x: 1, $scale-y: 1) {
    -webkit-animation-name:            $name;
    -webkit-animation-duration:        $duration;
    -webkit-animation-iteration-count: $iteration-count;
    -webkit-animation-timing-function: $timing-function;
    -webkit-transform:                 scaleX($scale-x) scaleY($scale-y);
    -webkit-transform-origin:          top left;

    -moz-animation-name:            $name;
    -moz-animation-duration:        $duration;
    -moz-animation-iteration-count: $iteration-count;
    -moz-animation-timing-function: $timing-function;
    -moz-transform:                 scaleX($scale-x) scaleY($scale-y);
    -moz-transform-origin:          top left;

    animation-name:            $name;
    animation-duration:        $duration;
    animation-iteration-count: $iteration-count;
    animation-timing-function: $timing-function;
    transform:                 scaleX($scale-x) scaleY($scale-y);
    transform-origin:          top left;
}

@mixin box-shadow($box-shadow-1, $box-shadow-2) {
   	-webkit-box-shadow: $box-shadow-1, $box-shadow-2;
   	   -moz-box-shadow: $box-shadow-1, $box-shadow-2;
   	        box-shadow: $box-shadow-1, $box-shadow-2;
}

@mixin load-indicator-keyframes {
   0.00%  { background-position: 0   -0px; }
    9.09%  { background-position: 0  -40px; }
   18.18%  { background-position: 0  -80px; }
   27.27%  { background-position: 0 -120px; }
   36.36%  { background-position: 0 -160px; }
   45.45%  { background-position: 0 -200px; }
   54.54%  { background-position: 0 -240px; }
   63.63%  { background-position: 0 -280px; }
   72.72%  { background-position: 0 -320px; }
   81.81%  { background-position: 0 -360px; }
   90.90%  { background-position: 0 -400px; }
  100.00%  { background-position: 0 -440px; }
}

@-webkit-keyframes load-indicator { @include load-indicator-keyframes; }
   @-moz-keyframes load-indicator { @include load-indicator-keyframes; }
     @-o-keyframes load-indicator { @include load-indicator-keyframes; }
        @keyframes load-indicator { @include load-indicator-keyframes; }

html, body {
    height: 100%;
    /*fixes the page-bounce on desktop safari. tested on version 5.1 / mac */
    overflow: hidden;
    background: $ui-background-color;
}

textarea, input {
    outline: none;
}

body, ul, li, h1, h2, h3 {
    padding: 0;
    margin: 0;
    border: 0;
}

ul {
    list-style: none;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover { color: $link-hover-color; }
    &:active { color: $link-active-color; }
}

header {
    height: $header-height;
    line-height: $header-height;
    color: $header-font-color;
    font-size: 2em;
    text-shadow: 1px 1px 1px $header-font-shadow-color;
    font-family: 'Lobster', cursive;
}

#context-title {
    padding-left: 10px;
    float:right;
    padding: 0 20px 0 20px;

}

footer {
    position: absolute;
    height: $footer-height;
    padding: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1em;
    font-family: 'Lobster', cursive;
}

article {
    padding: 5px 10px
}

.app {
    position: absolute;
    top: $header-height + 1;
    bottom: $footer-height + 1;
    left: 0;
    right: 0;
    @include border-top($app-border-top-color);
    @include border-bottom($app-border-bottom-color);
}

.scrolling {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.master {
    position: absolute;
    width: $master-width;
    bottom: 0;
    top: 0;
    border: 0;
    @include border-right($master-border-right-color);
}

#master-content {
    position: absolute;
    width: $master-width;
    top: $header-height - 2;
    bottom: 0;
}

.detail {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: $master-width + 1;
}

#app-name {
    margin-left: 10px;
}

#app-name img {
    vertical-align: middle;
}

#header .icons ul li  {
    display: inline;
    padding-left: 10px;
}

#footer .icons {
    margin: 6px 0 6px 0;
    float: right;
    padding: 0 10px 0 10px;
}

#footer .icons ul li  {
    display: inline;
    padding-left: 10px;
    vertical-align: middle;
    opacity: 0.5;
}

#footer .icons ul li:hover  {
    opacity: 1;
}

#category {
    width: 100%;
}

.toolbar {
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $toolbar-border-bottom-color;
    font-size: 0.9em;
    color: $toolbar-font-color;
    font-family: 'Lobster', cursive;
    height: $toolbar-height;
    overflow: hidden;
    width: $master-width;
}

.toolbar a {
    color: $toolbar-font-color;
}

.tb-icons {
    margin: 20px 0 20px 0;
    padding: 0;
    text-align: center;
}

.tb-icons a {
    padding: 0 8px 0 8px;
}

#search {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    color: $search-font-color;
	font-family: Helvetica,Arial,sans-serif;
	border: 1px solid $search-border-color;
	background: $search-background-color;
    height: 1.6em;
    line-height: 1.6em;
    padding-left: 10px;

    @include border-radius(1em);
}

@mixin search-placeholder {
   color: $search-placeholder-font-color;
   font-style: italic;
}

#search:-webkit-input-placeholder {
    @include search-placeholder;
}

#search:-moz-placeholder {
    @include search-placeholder;
}

#search:-ms-placeholder {
    @include search-placeholder;
}

.toolbar, header, footer {
    @include border-top($ui-border-top-color);
    @include border-bottom($ui-border-bottom-color);
    @include linear-gradient($ui-linear-gradient-light-color, $ui-linear-gradient-dark-color);
}

.master ul li {
    position: relative;
    display: table;
    width: 100%;
    height: $master-item-height;
    font-size: 0.8em;
    color: $ui-master-list-item-color;
    font-family: Helvetica, Arial, sans-serif;

    padding: .2em 15px .2em 15px;
    padding-right: 36px;

    cursor: pointer;

    @include border-top($master-list-item-border-top-color);
    @include border-bottom($master-list-item-border-bottom-color);
    @include linear-gradient($ui-linear-gradient-light-color, $ui-linear-gradient-dark-color);

    &:hover {
        @include linear-gradient(
            darken($ui-linear-gradient-light-color, 5%),
            darken($ui-linear-gradient-dark-color, 5%)
        );
    }
}

.master ul li.selected {
    @include linear-gradient($ui-linear-gradient-selected-light-color, $ui-linear-gradient-selected-dark-color);

    &:hover {
        @include linear-gradient(
            darken($ui-linear-gradient-selected-light-color, 5%),
            darken($ui-linear-gradient-selected-dark-color, 5%)
        );
    }
}

.master ul li .li-content {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
}

.master ul li h1 {
    font-size: 1.2em;
    line-height: 1.5em;
    color: $ui-master-list-item-h1-color;
    font-family: 'Lobster', cursive;
}

.master ul li h3 {
    font-size: 0.9em;
    line-height: 1.2em;
    color: $ui-master-list-item-h3-color;
    padding-left: 10px;
    font-family: 'Lobster', cursive;
}

#copyright {
    color: $footer-copyright-font-color;
    padding-left: 5px;
}

#footer-left {
    margin: 10px;
}

#footer .separator {
    color: $footer-separator-color;
    padding-left: 5px;
}

.aside {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top:-.9em;

    font-weight: bold;
    font-size: 11px;
    font-family: Helvetica,Arial,sans-serif;
    white-space: nowrap;

    text-align: center;
    color: $ui-aside-color;

    padding: .2em .5em;
    border: 1px solid $ui-aside-border-color;

    @include linear-gradient($ui-aside-linear-gradient-light-color, $ui-aside-linear-gradient-dark-color);
    @include background-clip(padding-box);
    @include border-radius(1em);
}

#master-content {
    z-index: 0;
    background: $ui-master-background-color;
}

.load-indicator-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    margin: -40px -40px;
    background: $ui-load-indicator-wrapper-color;
    opacity: 0.75;

    @include border-radius(0.8em);
}

.load-indicator {
    position: absolute;
    margin: 20px;
    width: 40px;
    height: 40px;


    background: transparent url(../image/activity-indicator.png) no-repeat 0 0;
    background-size: 40px 480px;

    @include animation(load-indicator, 1s, infinite, step-start);
}

#posts-footer {
    position: absolute;
    display: table;
    width: 100%;
    height: 30px;
    bottom: 0px;
    text-align: center;
    background: $ui-background-color;
}

#post-pages {
    display: table-cell;
    text-align: center;
}

#post-pages ul {
    padding: 7px 0 5px 0;
}

#post-pages ul li {
   	background: $post-pages-color;

    display: inline-block;
   	width: 12px;
   	height: 12px;
    margin-right: 4px;
    cursor: pointer;
   	text-indent: -9999px;

   	@include border-radius(16px);

    @include box-shadow(
        inset 0px 1px 1px $ui-page-item-selected-box-shadow-top-color,
        0px 1px 1px $ui-page-item-selected-box-shadow-bottom-color
    );
}

#post-pages ul li.selected {
    @include linear-gradient(
        $ui-page-item-selected-linear-gradient-light-color,
        $ui-page-item-selected-linear-gradient-dark-color
    );
    @include box-shadow(
        inset 0px 1px 1px $ui-page-item-selected-box-shadow-selected-top-color,
        0px 1px 1px $ui-page-item-selected-box-shadow-selected-bottom-color
    );
}

#post-list {
    position: absolute;
    top:0;
    bottom: 30px;
    left: 0;
    right:0;
}

@media screen and (max-width: 960px) {
    #post-list ul li.item {
        display: block;
        height: auto;
    }
}

@media screen and (min-width: 961px) {
    #post-list ul li.post-item {
        width: 50%;
        display: block;
        height: auto;
        float: left;
    }
}

.post {
    /*padding: 10px;*/
    margin: 10px;

    @include border-radius(0.4em);
}

.post-header {
    position: relative;
    background: $ui-post-header-background-color;
    height: 64px;

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.post-image {
    float:left;
    margin-right: 5px;
    width: 64px;
    height: 64px;
}

.post-author {
    padding: 5px;
    margin: 0;
    font-weight: bold;
    color: $ui-post-author-color;
    font-size: 0.8em;
    line-height: 1.0em;
    font-family: Helvetica, Arial, sans-serif;
}

.post-date {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: $ui-post-date-color;
    font-size: 0.8em;
    line-height: 1.0em;
    font-family: Helvetica, Arial, sans-serif;
}


ul.post-tags {
    position: absolute;
    left: $ui-post-image-width;
    bottom: 0;
    margin: 5px;
    right: 5px;
    color: $ui-post-tag-color;
    font-size: 0.8em;
    line-height: 1.1em;
    font-family: Helvetica, Arial, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

li.post-tag {
    display: inline;

    &:after {
        content: ",";
    }

    &:last-child:after {
         content: "";
    }
}

.post-body {
    padding: 0;
    margin: 0;
    background: $ui-post-body-background-color;
    height: $ui-post-body-height;
}

.post-title {
    position: absolute;
    left: $ui-post-image-width;
    right: 0;
    bottom: 0;
    padding: 5px;
    margin: 0;
    color: $ui-post-title-color;
    font-weight: normal;
    font-size: 1.0em;
    line-height: 1.0em;
    font-family: Helvetica, Arial, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.post-content {
    height: $ui-post-content-height;
    padding: 5px;
    font-weight: normal;
    color: $ui-post-content-color;
    font-size: 0.8em;
    line-height: 1.0em;
    font-family: Helvetica, Arial, sans-serif;
    overflow-y: auto;
}
